<div class="py-4"></div>

<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <h3 class="mb-4 text-center"><%= t('.all_badges') %></h3>
    <%= render @all_badges %>
    <h3 class="mb-4 text-center"><%= t('.user_badges') %></h3>
    <%= render @user_badges %>
  </div>
</div>
