<% success_rate = @statistic.success_rate %>

<p>Test <%= @statistic.test.title %> passed!</p>
<p>
  <% if @statistic.success? %>
    Your success rate is <span class="text-color success"><%= success_rate %></span>
    You have successfully passed the test!
  <% else %>
    Your success rate is <span class="text-color fail"><%= success_rate %></span>
    You failed to pass the test!
  <% end %>
</p>

<%= link_to 'Go back to tests list', tests_path %>
