<div style="display: flex; justify-content: center;">
  <div style="margin: 10px">Test Guru</div>
  <div style="margin: 10px">Author: Stepan Golovko <%= github_url('GolovkoStepan', 'test_guru') %></div>
  <div style="margin: 10px"><%= school_link %></div>
  <div style="margin: 10px"><%= current_year %></div>
</div>
