<%= simple_form_for [:admin, @test, @question] do |f| %>
  <div class="form-group">
    <%= f.input :body, type: :text, class: 'form-control' %>
  </div>

  <%= f.button :submit, t('links.save'), class: 'btn btn-primary btn-block' %>
<% end %>
