<div class="p-4"></div>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <h3 class="mb-3"><%= t('.header') %></h3>

    <%= render partial: 'form' %>

    <div class="p-2"></div>

    <%= link_to t('links.back'), :back %>
  </div>
</div>
