<tr>
  <td><%= Test.human_attribute_name('title') %> <%= test.title %></td>
  <td><%= t('admin.tests.test.questions_count', count: test.questions.count) %></td>
  <td><%= button_to t('links.start_test'), start_test_path(test) %></td>
</tr>
